*{
    margin: none;
    padding: none;
    box-sizing: border-box;
    
}

body{
    background-color: black;
}



.weather-app{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 100px auto 0;
    color: white;
    background: linear-gradient( pink,purple);
    border-radius: .8rem;
    width: 400px;
}




.weather{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 3rem 0;
    gap: 7rem;
}

input{
    border: none;
    outline: none;
    margin: 3rem  0;
    padding: .5rem;
    border-radius: 50px;
    font-weight: bold;

}

button{
    border: none;
    outline: none;
    margin: 3rem  0;
    padding: .5rem;
    border-radius: 50px;
    font-weight: bold;
    background-color: white;

}

.search img{
    width: 8rem;
    margin: 0;
}

h1,h2{
    font-size: 2rem;
    margin: 1rem 0;
}
p{
    font-size: 1.5rem;
}

.weather i{
    font-size: 1.8rem;
}


.display{
    display: none;
}